{% extends 'base.html'%}
{% block content %}

<meta charset="utf-8">
<style>

.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 1.5px;
}

.node {
  font: 12px sans-serif;
}

.node circle:hover {
  fill: black;
  stroke: black;
  stroke-width: 2px;
}

.node:hover {
  font-weight: 900;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#Elements-title {
  color: orange;
  padding-left: 17px;
}

#SS-title {
  color: green;
  padding-left: 17px;
}

#Halides-title {
  color: teal;
  padding-left: 17px;
}

#Oxides-title {
  color: purple;
  padding-left: 17px;
}

</style>
<body>

<div class="container">
  <h2 class="text-center title">Discover</h2>

  <h2 class="subtitle thumbnail-darker" id="Elements-title">Elements</h2>
  <div class="container thumbnail-darker" id="Elements"></div><br>

  <h2 class="subtitle thumbnail-darker" id="SS-title">Sulfosalts and Sulfides</h2>
  <div class="container thumbnail-darker" id="Sulfides-Sulfosalts"></div><br>

  <h2 class="subtitle thumbnail-darker" id="Halides-title">Halides</h2>
  <div class="container thumbnail-darker" id="Halides"></div><br>

  <h2 class="subtitle thumbnail-darker" id="Oxides-title">Oxides</h2>
  <div class="container thumbnail-darker" id="Oxides"></div><br>
</div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var diameter = 960;

var tree = d3.layout.tree()
    .size([360, diameter / 2 - 120])
    .separation(function(a, b) {return (a.parent == b.parent ? 1 : 2)/a.depth; });

var diagonal = d3.svg.diagonal.radial()
    .projection(function(d) { return [d.y, d.x / 180 * Math.PI]; });


function make_chart(filename, div_id, title){
  var svg = d3.select(div_id).append("svg")
      .attr("width", diameter)
      .attr("height", diameter)
    .append("g")
      .attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");


  d3.csv("/data/" + filename, function(links) {
    var nodesByName = {};

    // Create nodes for each unique source and target.
    links.forEach(function(link) {
      var parent = link.source = nodeByName(link.source, link.url),
          child = link.target = nodeByName(link.target, link.url),
          url = link.url;
      if (parent.children) parent.children.push(child);
      else parent.children = [child];
    });

    // Extract the root node and compute the layout.
    var nodes = tree.nodes(links[0].source);

    var link = svg.selectAll(".link")
          .data(links)
        .enter().append("path")
          .attr("class", "link")
          .attr("d", diagonal);

    var node = svg.selectAll(".node")
          .data(nodes)
        .enter().append("g")
          .attr("class", "node")
          .attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")"; })

    node.append("circle")
        .attr("r", 4.5);

    node.append("text")
        .attr("dy", ".31em")
        .attr("text-anchor", function(d) { return d.x < 180 ? "start" : "end"; })
        .attr("transform", function(d) { return d.x < 180 ? "translate(8)" : "rotate(180)translate(-8)"; })
        .text(function(d) { return d.name; });

    node.on('click', function(d){
        window.open(d.url, '_blank');
      });

    function nodeByName(name, url) {
      return nodesByName[name] || (nodesByName[name] = {name: name, url: url});
    }
  });
}

classification_data = {
  elements : ["elements.csv", "elements", "Elements"],
  ss_1 : ["sulfides_sulfosalts_1.csv", "sulfides_sulfosalts_1", "Sulfides-Sulfosalts"],
  ss_2 : ["sulfides_sulfosalts_2.csv", "sulfides_sulfosalts_2", "Sulfides-Sulfosalts"],
  ss_3 : ["sulfides_sulfosalts_3.csv", "sulfides_sulfosalts_3", "Sulfides-Sulfosalts"],
  halides : ["halides.csv", "halides", "Halides"],
  oxides_1 : ["oxides_1.csv", "oxides_1", "Oxides"],
  oxides_2 : ["oxides_2.csv", "oxides_2", "Oxides"],
  oxides_3 : ["oxides_3.csv", "oxides_3", "Oxides"],
  oxides_4 : ["oxides_4.csv", "oxides_4", "Oxides"],
};

for (var key in classification_data){
  new_div = $("<div></div>").attr("id", classification_data[key][1]);
  $(new_div).attr("class", classification_data[2]);

  $("#" + classification_data[key][2]).append(new_div);
  make_chart(classification_data[key][0], ("#" + classification_data[key][1]), classification_data[2]);
};

d3.select(self.frameElement).style("height", diameter - 150 + "px");

</script>

{% endblock %}