{% extends 'base.html' %}
{% block content %}

	<h1>Favorite Listings of {{ user.email }}:</h1>

	<h2>Minfind</h2>
	{% if minfind_listings == [] %}
		<p>No favorites from Minfind</p>
	{% else %}
		{% for minfind_result in minfind_listings %}
		<ul>
			<li>{{ minfind_result["title"] }}</li>
			<li>{{ minfind_result["price"] }}</li>
			<li>{{ minfind_result["description"] }}</li>
			<li><a href="{{ minfind_result["url"] }}">URL</a></li>
			<li><img src="{{ minfind_result["primary_image"] }}"></li>
		</ul>
		{% endfor %}
	{% endif%}

	<h2>Etsy</h2>
	{% if etsy_listings == [] %}
		<p>No favorites from Etsy</p>
	{% else %}
		{% for etsy_result in etsy_listings %}
		<ul>
			<li>{{ etsy_result["title"] }}</li>
			<li>{{ etsy_result["price"] }}</li>
			<li>{{ etsy_result["description"] }}</li>
			<li><a href="{{ etsy_result["url"] }}">URL</a></li>
			<li><img src="{{ etsy_result["primary_image"] }}"></li>
		</ul>
		{% endfor %}
	{% endif %}

	<h2>eBay</h2>
	{% if ebay_listings == [] %}
		<p>No favorites from eBay</p>
	{% else %}
		{% for ebay_result in ebay_listings %}
		<ul>
			<li>{{ ebay_result["title"] }}</li>
			<li>{{ ebay_result["price"] }}</li>
			<li>{{ ebay_result["description"] }}</li>
			<li><a href="{{ ebay_result["url"] }}">URL</a></li>
			<li><img src="{{ ebay_result["primary_image"] }}"></li>
		</ul>
		{% endfor %}
	{% endif %}

{% endblock %}