{% extends 'base.html' %}
{% block content %}

<style>

.result-title {
	padding-left: 17px;
	color: purple;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.no-results {
	color: black;
}

.result-title-price { 
	font-family: 'Wire One', Helvetica, Arial, sans-serif;
	font-weight:normal;
	margin-bottom:15px; 
	color: black; 
	line-height:1em;
	line-height:.9em;
	font-size:3em;
	margin-top:0;
	margin-bottom:20px; 
}

.listing-p {
	color: black;
}

.website-div {
	margin-left: auto;
	margin-right: auto;
	height: 700px;
	width: 1000px;
}

.content {
	height: 600px;
	overflow: auto;
}

</style>

<body>
	<h2 class="text-center title">Favorite Listings of {{ user.email }}:</h2>

	<div class="website-div">
		<h2 class="subtitle thumbnail-darker result-title">Minfind</h2>

		{% if minfind_listings == [] %}
			<h2 class="subtitle no-results thumbnail-darker">No favorites from Minfind</h2>

		{% else %}
		<div class="content thumbnail-darker">
			{% for minfind_result in minfind_listings %}
			<div>
				<a href="{{ minfind_result["url"] }}">
					<h2 class="result-title-price">{{ minfind_result["title"] }}</h2>
				</a>
				<h2 class="result-title-price">{{ minfind_result["price"] }}</h2>
				<h6 class="listing-p">{{ minfind_result["description"] }}</h6>
				<img src="{{ minfind_result["primary_image"] }}">
			</div>
			{% endfor %}
		</div>
		{% endif %}
	</div><br><br>

	<div class="website-div">
		<h2 class="subtitle thumbnail-darker result-title">Etsy</h2>

		{% if etsy_listings == [] %}
			<h2 class="subtitle no-results thumbnail-darker">No favorites from Etsy</h2>

		{% else %}
		<div class="content thumbnail-darker">
			{% for etsy_result in etsy_listings %}
			<div>
				<a href="{{ etsy_result["url"] }}">
					<h2 class="result-title-price">{{ etsy_result["title"] }}</h2>
				</a>
				<h2 class="result-title-price">{{ etsy_result["price"] }}</h2>
				<h6 class="listing-p">{{ etsy_result["description"] }}</h6>
				<img src="{{ etsy_result["primary_image"] }}">
			</div>
			{% endfor %}
		</div>
		{% endif %}
	</div><br><br>

	<div class="website-div">
		<h2 class="subtitle thumbnail-darker result-title">eBay</h2>

		{% if ebay_listings == [] %}
			<h2 class="subtitle no-results thumbnail-darker">No favorites from eBay</h2>

		{% else %}
		<div class="content thumbnail-darker">
			{% for ebay_result in ebay_listings %}
			<div>
				<a href="{{ ebay_result["url"] }}">
					<h2 class="result-title-price">{{ ebay_result["title"] }}</h2>
				</a>
				<h2 class="result-title-price">{{ ebay_result["price"] }}</h2>
				<h6 class="listing-p">{{ ebay_result["description"] }}</h6>
				<img src="{{ ebay_result["primary_image"] }}">
			</div>
			{% endfor %}
		</div>
		{% endif %}
	</div><br><br>
</body>

{% endblock %}