{% extends 'base.html' %}
{% block content %}


<h2 class="text-center title">Favorite Listings of {{ user.email }}:</h2>

<div class="website-div">
	<h2 class="subtitle thumbnail-darker result-title">Etsy</h2>
	<div class="listing-origin">

	{% if etsy_listings == [] %}
		<div class="lead thumbnail">
			<h1>No favorites from Etsy</h1>
		</div>

	{% else %}
		{% for etsy_result in etsy_listings %}
			<div class="listing-div thumbnail-darker">
				<div class="container row listing-row">
					<div class="column listing-column">
						<a href="{{ etsy_result["url"] }}">
							<h6 class="result-title-price">{{ etsy_result["title"] }}</h6>
						</a>
						<h6 class="result-title-price">${{ etsy_result["price"] }}</h6>
						<p class="listing-p">{{ etsy_result["description"] }}</p>
					</div>

					<div class="column listing-column">
						<img src="{{ etsy_result["primary_image"] }}" class="listing-img">
					</div>
				</div>
			</div>
			<hr>
		{% endfor %}
	{% endif %}

	</div>
</div><br><br>

<div class="website-div">
	<h2 class="subtitle thumbnail-darker result-title">eBay</h2>
	<div class="listing-origin">

	{% if ebay_listings == [] %}
		<div class="lead thumbnail">
			<h1>No favorites from eBay</h1>
		</div>

	{% else %}
		{% for ebay_result in ebay_listings %}
			<div class="listing-div thumbnail-darker">
				<div class="container row listing-row">
					<div class="column listing-column">
						<a href="{{ ebay_result["url"] }}">
							<h6 class="result-title-price">{{ ebay_result["title"] }}</h6>
						</a>
						<h6 class="result-title-price">${{ ebay_result["price"] }}</h6>
						<p class="listing-p">{{ ebay_result["description"] }}</p>
					</div>

					<div class="column listing-column">
						<img src="{{ ebay_result["primary_image"] }}" class="listing-img">
					</div>
				</div>
			</div>
			<hr>
		{% endfor %}
	{% endif %}

	</div>
</div><br><br>

<div class="website-div">
	<h2 class="subtitle thumbnail-darker result-title">Minfind</h2>
	<div class="listing-origin">

		{% if minfind_listings == [] %}
			<div class="lead thumbnail">
				<h1>No favorites from Minfind</h1>
			</div>

		{% else %}
			{% for minfind_result in minfind_listings %}
				<div class="listing-div thumbnail-darker">
					<div class="container row listing-row">
						<div class="column listing-column">
							<a href="{{ minfind_result["url"] }}">
								<h6 class="result-title-price">{{ minfind_result["title"] }}</h6>
							</a>
							<h6 class="result-title-price">${{ minfind_result["price"] }}</h6>
							<p class="listing-p">{{ minfind_result["description"] }}</p>
						</div>

						<div class="column listing-column">
							<img src="{{ minfind_result["primary_image"] }}" class="listing-img">
						</div>
					</div>
				</div>
				<hr>
			{% endfor %}
		{% endif %}

	</div>
</div><br><br>

{% endblock %}